---
import Layout from "@/layouts/Layout.astro";
import formatDate from "@/utils/formatDate";
import { getCollection } from "astro:content";
import dayjs from "dayjs";

const blog = await getCollection("blog");
const sorted = Object.groupBy(blog, ({ data }) => data.pubDate!.getMonth());

function getMonth(id: number): string {
  let date = new Date();
  date.setMonth(id);
  return dayjs(date).format("MMMM");
}
---
<Layout>
  <Fragment slot="head">
    <link rel="alternate" type="application/rss+xml" title="haetae's blog" href={new URL("/blog/rss.xml", Astro.site)} />
  </Fragment>
  <h1>blog</h1>
  <ul>
    {Object.entries(sorted).map(entry => (
      <li>
        <h2>{getMonth(Number(entry[0]))}</h2>
        <ul>
          {entry[1]?.sort((a, b) => a.data.pubDate!.valueOf() - b.data.pubDate!.valueOf()).map(post => (
            <li>
              <time datetime={formatDate(post.data.pubDate!, true)}>
                {formatDate(post.data.pubDate!)}
              </time>
              <a href={`/blog/${post.id}`}>{post.data.title}</a>
            </li>
          ))}
        </ul>
      </li>
    ))}
  </ul>
  <a href="/blog/rss.xml">rss feed</a>
</Layout>