---
import Navbar from '~/Navbar.astro';
import Layout from '@/layouts/Layout.astro';
---
<Layout>
	<Navbar />
	<main>
		<h1>hi</h1>
		<p>hello world</p>
	</main>
</Layout>

<style>
	main {
		max-width: clamp(50ch, 80ch, 100%);
		margin: 0 auto;
	}
</style>