---
import Navbar from '~/Navbar.astro';
import Layout from '@/layouts/Layout.astro';
---
<Layout>
	<Navbar />
	<main>
		<section id="welcome">
			<h1>welcome!</h1>
			<article>
				this is 
			</article>
		</section>

		<section id="updates">
			<article class="update-card">
				<h1>update title</h1>
				<time datetime="">timestamp</time>
				<p>some stuff happened</p>
			</article>
		</section>

		<section id="wall">
			<h1>stuff!</h1>
			<p>i keep a bunch of links here, including the webrings i've joined and some badges i like</p>
			<div class="web">
				
			</div>
		</section>
	</main>
</Layout>

<style>
	main {
		max-width: 50em;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
		grid-template-rows: 1.5fr 0.5fr;
		gap: 1rem;
		grid-template-areas:
			"welcome updates"
			"wall wall";

		section {
			border: 2px solid #ccc;
		}
	}

	#wall {
		grid-area: wall;
	}
</style>