---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const fics = await getCollection("test");
---
<Layout>
  {fics.map(fic => (
    <article>
      <h2>{fic.data.title}</h2>
    </article>
  ))}

</Layout>