<div>
  <input type="radio" name="theme-switch" id="theme-switch" value="system" />
  <input type="radio" name="theme-switch" id="theme-switch" value="light" />
  <input type="radio" name="theme-switch" id="theme-switch" value="dark" />
</div>

<script is:inline>
  const radio = document.querySelectorAll("input[type='radio']");
  radio.forEach(input => {
    if (localStorage.getItem("theme")) {
      if (input.value === localStorage.getItem("theme")) input.checked = true;
    } else {
      if (input.value === "system") input.checked = true;
    }
    
    input.addEventListener("click", () => {
      document.documentElement.className = input.value;
      localStorage.setItem("theme", input.value);
      if (input.value === "system") document.documentElement.removeAttribute("class");
    });
  });
</script>