---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import formatDate from "@/utils/formatDate";

const fics = await getCollection("fics");
const chapters = await getCollection("chapters");
fics.sort((a, b) => b.data.publishedAt.valueOf() - a.data.publishedAt.valueOf());
chapters.length = Math.min(chapters.length, 5);
chapters.sort((a, b) => b.data.publishedAt.valueOf() - a.data.publishedAt.valueOf());
---
<Layout>
  <h1>fanfics</h1>
  
  <h2>recent updates</h2>
  <ul>
    {chapters.map(post => (
      <li>
        <time datetime={formatDate(post.data.publishedAt, true)}>
          {formatDate(post.data.publishedAt, false, "MMMM DD, YYYY")}
        </time>
        {fics.some(({ data }) => data.chapters?.some(({ id }) => id === post.id)) 
          ? <>
              <a href={`/fics/${post.id}`}>{post.data.title}</a>
              in 
              <a href={`/fics/${post.id.split("/")[0]}`}>
                {fics.filter(({ id }) => id === post.id.split("/")[0])[0].data.title}
              </a>
            </>
          : <a href={`/fics/${post.id.split("/")[0]}`}>
              {fics.filter(({ id }) => id === post.id.split("/")[0])[0].data.title}
            </a>}
      </li>
    ))}
  </ul>

  <h2>works</h2>
  <ul>
    {fics.map(fic => (
      <li><a href={`/fics/${fic.id}`}>{fic.data.title}</a></li>
    ))}
  </ul>
</Layout>