@font-face {
  font-family: "Arial Pixel";
  src: url("/fonts/pixearg.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Arial Pixel";
  src: url("/fonts/pixeab.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "Departure Mono";
  src: url("/fonts/DepartureMono-Regular.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Kiwi Soda";
  src: url("/fonts/KiwiSoda.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Super Star";
  src: url("/fonts/mario-luigi-rpg-speech-text.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "PixelMPlus 10";
  src: url("/fonts/PixelMplus10-Regular.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "PixelMPlus 12";
  src: url("/fonts/PixelMplus12-Regular.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Redaction 35";
  src: url("/fonts/Redaction_35-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Redaction 35";
  src: url("/fonts/Redaction_35-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Redaction 35";
  src: url("/fonts/Redaction_35-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "sq";
  src: url("/fonts/sq.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "sq";
  src: url("/fonts/sqb.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "Wonder Mail";
  src: url("/fonts/wondermail.woff2") format("woff2");
  font-weight: normal;
}