*, *::before, *::after { box-sizing: border-box; }
* { margin: 0; }

body {
  width: 100vw;
  min-height: 100vh;

  @supports (min-height: 100svh) {
    min-height: 100svh;
  }  
}

body { line-height: calc(1em + 0.5rem); }

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select { font: inherit; }
p, h1, h2, h3, h4, h5, h6 { overflow-wrap: break-word; }
h1, h2, h3, h4, h5, h6 { text-wrap: balance; }
p { text-wrap: pretty; }