:root {
  @media screen and (prefers-color-scheme: light) {
    --bg-color: #e6f2ef;
    --fg-color: #151640;
    --accent-color: #f783b0;
    --secondary-color: #3f6d9e;
  }

  @media screen and (prefers-color-scheme: dark) {
    --bg-color: #555568;
    --fg-color: #f3eded;
    --accent-color: #eeb9c7;
    --secondary-color: #b9eedc;
  }
}

.light {
  --bg-color: #e6f2ef;
  --fg-color: #151640;
  --accent-color: #f783b0;
  --secondary-color: #3f6d9e;
}

.dark {
  --bg-color: #555568;
  --fg-color: #f3eded;
  --accent-color: #eeb9c7;
  --secondary-color: #b9eedc;
}

/* custom theme styling */

/* dark-specific styles */
.dark {
  button, .button {
    background-color: var(--accent-color);
    color: var(--bg-color);

    &:hover {
      background-color: hsl(from var(--accent-color) h s calc(l - 10));
      color: var(--bg-color);
    }

    &:active, &:focus {
      color: var(--bg-color);
      background-color: var(--secondary-color);
      border-color: var(--bg-color);
    }
  }
}